
// Couleurs principales
$primary-color: #1E88E5;
$secondary-color: #E5397E;
$dark-color: #0F172A;
$alert-color: #C62828;
$star-color: #F5A623;

$white: #FFFFFF;
$light-gray: #F5F7FA;
$border-color: #E1E6ED;
$text-color: #1A2332;
$text-muted: #CAD5E2;
$text-hero: #90A1B9;

$hover-color: rgba(255, 255, 255, 0.1);
$active-color: rgba(255, 255, 255, 0.08);

$active-link-color: #38BDF8;

$checkbox-color: #202224d3;
$hover-equipement: #0284C7;

$footer-bas-color: #45556C;
$footer-nav-color: #90A1B9;

$capacite-bg: #F0F9FF;
$capacite-border: #BAE6FD;


$primary-hover: #1565C0;